
<dialog
  class="modal modal-bottom sm:modal-middle"
  [open]="mostrar">

  <div class="modal-box">
       <div class="modal-action mt-0">

      <button
        type="button"
        class="btn rounded-full  btn-soft btn-secondary"
        (click)="cerrarModal()">
        X
      </button>

    </div>

    <h1 class="text-lg font-bold">
      ¡Hablemos!
    </h1>

    <p class="py-4">
      ¿Tienes un proyecto o una oportunidad laboral?
      Puedes contactarme a través de LinkedIn o correo electrónico.
    </p>

    <div class="flex flex-col gap-3 sm:flex-row">

      <a
        href="www.linkedin.com/in/karen-giseth-urrego-gaitán-893240181"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-primary">
        LinkedIn
      </a>

      <a
        href="mailto:karen2389@live.com"
        class="btn btn-outline btn-accent">
        Enviarme un correo
      </a>

    </div>
  </div>

</dialog>